<html>
    <head>
        <title>
            Blessing to Israel
        </title>
    </head>
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <style>
   .btn {
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
   }
  </style>
 </head>
 <body>
  <a href="/" class="btn" action="/">HOME PAGE</a>
     <br/>
        <br/>
    <br/>
    <h2 style="text-align: center">Prediction of PRICE PER SQUARE FOOT is :</h2>
    <h2 style="text-align: center">{{answer}} USD </h2>
  <h2 style="text-align: center"> accuracy 95 % </h2>
    <br/>
        <br/>
        <br/>
        <br/>
    <br/>
      <br/>
        <br/>
        <br/>
        <br/>
 <span style="color:grey">
     Database description :
     Displacement risk indicator classifying census tracts according
     to single-family home sale prices. Each census tract where at least 100
     single-family homes were sold in arms-length transactions are classified
     along two dimensions:The average price of sales within the census tract for the
     specified year, balancing between nominal sale price and sale price per square foot.The change in average
     sale price (again balanced between nominal sale price and price per square foot) from the previous year.
 </span>


    </body>
</html>